{% extends "layout.html" %}

{% block title %}
    Archive
{% endblock %}

{% block main %}

    <div class="inventory-archive">
        <button type="button" id="open-inv-select"><h3>Archive</h3></button>
        <ul id="invcatselect" style="display: none;">
            {% if session.user_role == "Super Administrator" or session.user_role == "Dept Administrator" or session.user_role == "Administrator"%}
                <li class="invcat"><a href="/admin_inventory">Inventory</a></li>
            {% elif session.user_role == "User"  %}
                <li class="invcat"><a href="/inventory">Inventory</a></li>
            {% endif %}
            <li class="invcat"><a href="/off-site">Off-site</a></li>
            <li class="invcat"><a href="/replace">Replace</a></li>
            <li class="invcat"><a href="/missing">Missing</a></li>
        </ul>
        {% if session.user_role == "Super Administrator" or session.user_role == "Dept Administrator" or session.user_role == "Administrator"%}
            {% if not inventory %}
            {% else %}
                <div class="action-menu-wrapper">
                    <button type="button" class="btn btn-primary action-menu-button">
                        Action
                    </button>
                    <button type="button" class="btn btn-primary" id='confirmunarchive' data-bs-toggle='modal' data-bs-target='#unarchive-items-modal'>
                        Done
                    </button>
                    <ul class="action-menu" style="display: none;">
                        <li class="action-option"><button type='button' class='action-option-button' id="clear-filters">Clear Filters</button></li>                    
                        <li class="action-option"><button type="button" class="action-option-button unarchivebutton">Unarchive Item</button></li>
                    </ul>
                </div>
            {% endif %}
        {% elif session.user_role == "User"%}
            <button type='button' class='btn btn-primary' id="clear-filters">
                Clear Filters
            </button>
        {% endif %}
    </div>

    {% if not inventory %}
        <h3 class="nodata">No data available.</h3>
    {% else %}
        {% if no_date_match %}
            {% if no_date_match == 1 %}
            <h3 class="nodate">No date matches filter selection.</h3>
            {% endif %}
        {% endif %}
        <!-- Table -->
        <div class="tboundary">
            <table class="table table-striped">
                <form action="/archive" method="get" id="filterform">
                    <thead>
                        <tr>
                            
                            <!-- Equipment filter -->
                            <th class="text-center">
                                <button type="button" class="filterbutton">
                                    Equipment
                                </button>
                                <select id="filterequipment" class="form-select w-auto" name="filter" style="display: none;">
                                    {% if filterequipment %}
                                        <option hidden selected>{{ filterequipment }}</option>
                                        <option>Equipment</option>
                                    {% else %}
                                        <option selected>Equipment</option>
                                    {% endif %}
                                    {% for item in inventory %} 
                                        <option>{{ item["equipment"] }}</option>
                                    {% endfor %}
                                </select>
                            </th>

                            <!-- Model location filter -->
                            <th class="text-center">
                                <button type="button" class="filterbutton">
                                    Model
                                </button>
                                <select id="filtermodel" class="form-select w-auto" name="filter" style="display: none;">
                                    {% if filtermodel %}
                                        <option hidden selected>{{ filtermodel }}</option>
                                        <option>Model</option>
                                    {% else %}
                                        <option selected>Model</option>
                                    {% endif %}
                                    {% for item in inventory %} 
                                        <option>{{ item["model"] }}</option>
                                    {% endfor %}
                                </select>
                            </th>

                            <!-- Serial filter -->
                            <th class="text-center">
                                <button type="button" class="filterbutton">
                                    Serial
                                </button>
                                <select id="filterserial" class="form-select w-auto" name="filter" style="display: none;">
                                    {% if filterserial %}
                                        <option hidden selected>{{ filterserial }}</option>
                                        <option>Serial</option>
                                    {% else %}
                                        <option selected>Serial</option>
                                    {% endif %}
                                    {% for item in inventory %} 
                                        <option>{{ item["serial"] }}</option>
                                    {% endfor %}
                                </select>
                            </th>

                            <!-- EE filter -->
                            <th class="text-center">
                                <button type="button" class="filterbutton">
                                    EE
                                </button>
                                <select id="filteree" class="form-select w-auto" name="filter" style="display: none;">
                                    {% if filteree %}
                                        <option hidden selected>{{ filteree }}</option>
                                        <option>EE</option>
                                    {% else %}
                                        <option selected>EE</option>
                                    {% endif %}
                                    {% for item in inventory %} 
                                        <option>{{ item["ee"] }}</option> 
                                    {% endfor %}
                                </select>
                            </th>

                            <!-- Assigned location filter -->
                            <th class="text-center">
                                <button type="button" class="filterbutton">
                                    Assigned Location
                                </button>
                                <!-- Filter search by -->
                                <select id="filtersbal" class="form-select" name="filter" style="display: none;">
                                    {% if filtersbal %}
                                        {% if filtersbal == "Assigned Location" %}
                                            <option hidden selected>{{ filtersbal }}</option>
                                            <option>Location</option>
                                            <option>Department</option>
                                            <option>Room</option>
                                        {% else %}
                                            <option>Assigned Location</option>
                                            {% if filtersbal == "Location" %}
                                                <option selected>Location</option>
                                                <option>Department</option>
                                                <option>Room</option>
                                            {% elif filtersbal == "Department" %}
                                                <option>Location</option>
                                                <option selected>Department</option>
                                                <option>Room</option>
                                            {% elif filtersbal == "Room" %}
                                                <option>Location</option>
                                                <option>Department</option>
                                                <option selected>Room</option>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <option hidden selected>Assigned Location</option>
                                        <option>Location</option>
                                        <option>Department</option>
                                        <option>Room</option>
                                    {% endif %}
                                </select>
                                <!-- Filter location -->
                                <select id="filteral" class="form-select" name="filter" style="display: none;">
                                    {% if filteral %}
                                        <option hidden selected>{{ filteral }}</option>
                                        <option>Location</option>
                                    {% else %}
                                        <option selected>Location</option>
                                    {% endif %}
                                    {% for item in inventory %} 
                                        <option>{{ item["assigned_location"] }}</option> 
                                    {% endfor %}
                                </select>
                                <!-- Filter department -->
                                <select id="filterad" class="form-select" name="filter" style="display: none;">
                                    {% if filterad %}
                                        <option hidden selected>{{ filterad }}</option>
                                        <option>Department</option>
                                    {% else %}
                                        <option selected>Department</option>
                                    {% endif %}
                                    {% for item in inventory %} 
                                        <option>{{ item["assigned_department"] }}</option> 
                                    {% endfor %}
                                </select>
                                <!-- Filter room -->
                                <select id="filterar" class="form-select" name="filter" style="display: none;">
                                    {% if filterar %}
                                        <option hidden selected>{{ filterar }}</option>
                                        <option>Room</option>
                                    {% else %}
                                        <option selected>Room</option>
                                    {% endif %}
                                    {% for item in inventory %} 
                                        <option>{{ item["assigned_room"] }}</option> 
                                    {% endfor %}
                                </select>
                            </th>

                            <!-- Date added filter -->
                            <th class="text-center">
                                <button type="button" class="filterButtonDate">
                                    Date Added
                                </button>
                                <div class="start-date-wrapper">
                                    {% if filter_start_da %}
                                        <p class="date-label" style="display: none;">Start Date:</p>
                                        <input autocomplete="off" type="date" class="form-control w-auto" id="filter-start-da" name="filterdate" value="{{ filter_start_da }}" style="display: none;">
                                    {% else %}
                                        <p class="date-label" style="display: none;">Start Date:</p>
                                        <input autocomplete="off" type="date" class="form-control w-auto" id="filter-start-da" name="filterdate" style="display: none;">
                                    {% endif %}
                                </div>
                                <div class="end-date-wrapper">
                                    {% if filter_end_da %}
                                        <p class="date-label" style="display: none;">End Date:</p>
                                        <input autocomplete="off" type="date" class="form-control w-auto" id="filter-end-da" name="filterdate" value="{{ filter_end_da }}"  style="display: none;">
                                    {% else %}
                                        <p class="date-label" style="display: none;">End Date:</p>
                                        <input autocomplete="off" type="date" class="form-control w-auto" id="filter-end-da" name="filterdate" style="display: none;">
                                    {% endif %}
                                </div>
                            </th>

                            <!-- Added by filter -->
                            <th class="text-center">
                                <button type="button" class="filterbutton">
                                    Added By
                                </button>
                                <select id="filteraddedby" class="form-select w-auto" name="filter" style="display: none;">
                                    {% if filteraddedby %}
                                        <option hidden selected>{{ filteraddedby }}</option>
                                        <option>Added By</option>
                                    {% else %}
                                        <option selected>Added By</option>
                                    {% endif %}
                                    {% for item in inventory %} 
                                        <option>{{ item["added_name"] }}</option> 
                                    {% endfor %}
                                </select>
                            </th>

                            <!-- Replace date filter -->
                            <th class="text-center">
                                <button type="button" class="filterButtonDate">
                                    Replace Date
                                </button>
                                <div class="start-date-wrapper">
                                    {% if filter_start_rd %}
                                        <p class="date-label" style="display: none;">Start Date:</p>
                                        <input autocomplete="off" type="date" class="form-control w-auto" id="filter-start-rd" name="filterdate" value="{{ filter_start_rd }}" style="display: none;">
                                    {% else %}
                                        <p class="date-label" style="display: none;">Start Date:</p>
                                        <input autocomplete="off" type="date" class="form-control w-auto" id="filter-start-rd" name="filterdate" style="display: none;"> 
                                    {% endif %}
                                </div>
                                <div class="end-date-wrapper">
                                    {% if filter_end_rd %}
                                        <p class="date-label" style="display: none;">End Date:</p>
                                        <input autocomplete="off" type="date" class="form-control w-auto" id="filter-end-rd" name="filterdate" value="{{ filter_end_rd }}" style="display: none;">
                                    {% else %}
                                        <p class="date-label" style="display: none;">End Date:</p>
                                        <input autocomplete="off" type="date" class="form-control w-auto" id="filter-end-rd" name="filterdate" style="display: none;">
                                    {% endif %}
                                </div>
                            </th>

                        </tr>
                    </thead>
                </form>
                <tbody id="tables" class="click_for_info">
                    {% for i in range(inventory | length) %}
                        <tr class="showrow">
                            {% if session.user_role == "Super Administrator" or session.user_role == "Dept Administrator" or session.user_role == "Administrator"%}
                                <td class="text-center cell-content0">
                                    <input type="checkbox" value="{{ inventory[i]['qr_code'] }}" class="unarchiveinventory inventory-checkbox" name="unarchiveinv" form="checkbox-form">
                                    <div class="show-button-wrapper">
                                        <button type="button" name="show-info-or-history">{{ inventory[i]["equipment"] }}</button>
                                        <ul class="item-option-select" style="display: none;">
                                            <li class="item-option"><button type="button" class="item-option-button" name="showinfo" value="{{ inventory[i]['qr_code'] }}">More Info</button></li>
                                            <li class="item-option"><button type="button" class="item-option-button" name="showhistory" value="{{ inventory[i]['qr_code'] }}">Item History</button></li>
                                        </ul>
                                    </div>
                                </td>
                            {% else %}
                                <td class="text-center cell-content0">{{ inventory[i]["equipment"] }}</td>
                            {% endif %}
                            <td class="text-center cell-content1">{{ inventory[i]["model"] }}</td>
                            <td class="text-center cell-content2">{{ inventory[i]["serial"] }}</td>
                            <td class="text-center cell-content3">{{ inventory[i]["ee"] }}</td>
                            <td class="text-center cell-content4">{{ inventory[i]["assigned_room"] }}-{{ inventory[i]["assigned_department"] }}</td>                              
                            <td class="text-center cell-content11">{{ inventory[i]["date_added"] }}</td>
                            <td class="text-center cell-content12">{{ inventory[i]["added_name"] }}</td>
                            <td class="text-center cell-content13">{{ inventory[i]["repl_date"] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <nav class="pages" aria-label="Page navigation">
    </nav>

    {% if session.user_role == "Super Administrator" or session.user_role == "Dept Administrator" or session.user_role == "Administrator"%}
        <!-- Modal for unarchiving items -->
        <form action="/archive" method="post" id="checkbox-form">
            <div class="modal fade" id="unarchive-items-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropdelLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="unarchiveItemsModalLabel">Unarchive Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Unarchive item?</label><br>
                                <div class="mod-flexbox">
                                    <button id="closeunarchive" type="button" class="btn btn-secondary modal-footer-buttons" data-bs-dismiss="modal">Cancel</button>
                                    <button id="completeunarchive" type="button" class="btn btn-primary modal-footer-buttons prevent-click" name="invbutton" value="add">
                                        <span class="confirm-default-text">Confirm</span>
                                        <div class="loading-alert">
                                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                            <span role="status">Loading...</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <p class="emptyselection" style="display: none;">Please make a selection.</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Modal for unarchiving single item -->
        <form action="/archive" method="post">
            <div class="modal fade" id="unarchive-single-item-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropdelLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="unarchiveSingleItemModalLabel">Archive Item</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label class="form-label">Send to archive?</label><br>
                                <div class="mod-flexbox">
                                    <button type="button" class="btn btn-secondary modal-footer-buttons" data-bs-dismiss="modal">Cancel</button>
                                    <input type='hidden' id='hidden-unarchive' name='hidden-unarchive'>
                                    <button type="submit" class="btn btn-primary modal-footer-buttons prevent-click" name="invbutton">
                                        <span class="confirm-default-text">Confirm</span>
                                        <div class="loading-alert">
                                            <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                            <span role="status">Loading...</span>
                                        </div>
                                    </button>
                                </div>
                            </div>
                            <p class="emptyselection" style="display: none;">Please make a selection.</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Modal for additional equipment information -->
        <form action="/archive" method="post">
            <div class="modal fade" id="moreinfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="moreInfoLabel">Additional Information</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="qrcode" class="form-label">QR Code</label>
                            <div class="mb-3 qrflex">
                                <img class="img-fluid" id="additional-info-qr">
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary additional-info-buttons" data-bs-toggle='modal' data-bs-target='#unarchive-single-item-modal'>Remove Item From Archive</button>
                            </div>
                            <div class="modal-footer" id="remove-padding">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <!-- Modal for equipment history -->
        <div class="modal fade" id="show-history-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="showHistoryModalLabel">Activity History</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="activity_history">
                            {% include "activity_history.html" %}
                        </div>
                        <div class="modal-footer" id="remove-padding">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block script %}

    <script src="/static/app.js"></script>
    
    {% if session.user_role == "Super Administrator" or session.user_role == "Dept Administrator" or session.user_role == "Administrator"%}
        <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
        <script>

            var showinfo = document.getElementsByName("showinfo");
            var showhistory = document.getElementsByName("showhistory");
            var img = document.querySelector("#additional-info-qr");
            var moreInfoModal = new bootstrap.Modal(document.getElementById("moreinfo"));
            var showHistoryModal = new bootstrap.Modal(document.getElementById("show-history-modal"));
            var nodate = document.querySelector(".nodate");
            
            for (let i = 0; i < showinfo.length; i++)
            {
                showinfo[i].addEventListener("click", function() {
                    
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('archive') }}",
                        data: {"showinfo" : showinfo[i].value},
                        success: function(result){ 
                            img.src = "/static/qrcodes/"+ result['qr_code'] +".png";
                            document.getElementById("hidden-unarchive").value = result['qr_code'];
                        }
                    });

                    moreInfoModal.show();

                });
            }

            for (let i = 0; i < showhistory.length; i++)
            {
                showhistory[i].addEventListener("click", function() {

                    var data = new FormData()
                    data.append("showhistory",  showhistory[i].value)
                    var activity_url = "{{ url_for('activity_history') }}"
                    var activity_div = document.getElementById("activity_history")
                    fetch(activity_url, {
                        "method": "POST",
                        "body": data,
                    }).then((response) => {
                        return response.text();
                    }).then((text) => {
                        activity_div.innerHTML = text
                    });
                        
                    showHistoryModal.show();

                });
            }


            if (nodate)
            {
                nodate.addEventListener("animationend", function() {
                    nodate.style.display = "none";
                });
            }

        </script>
    {% endif %}

{% endblock %}