{% extends "layout.html" %}

{% block title %}
    Manage Password
{% endblock %}

{% block main %}

<div class="manage-password">
    <form action="/manage_password" method="post">
        <h3>Change Password</h3>
        <div class="mb-3">
            <div class="mb-3">
                <label for="oldpassword" class="form-label">Old Password</label>
                <input autocomplete="off" type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Old Password">
            </div>
            <div class="mb-3">
                <label for="newpassword" class="form-label">New Password</label>
                <input autocomplete="off" type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password">
            </div>
            <div class="mb-3">
                <label for="confirmation" class="form-label">Confirm New Password</label>
                <input autocomplete="off" type="password" class="form-control" id="confirmation" name="confirmation" placeholder="Confirm New Password">
            </div>
            <p id="nomatch" style="display: none;">Passwords do not match.</p>
            <p id="invalidmatch" style="display: none;">Old and new password cannot match.</p>
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit" id="manage-password-button">Change Password</button>
        </div>
        <p id="manage-password-warning" style="display: none;">Fields cannot be empty.</p>
    </form>
</div>

{% endblock %}

{% block script %}

    <script src="/static/app.js"></script>
    <script>
            
        // Code to prevent empty fields in login page

        if (document.querySelector(".manage-password"))
        {

            document.querySelector("#manage-password-button").type = "button";

            document.querySelector("#manage-password-button").addEventListener('click', function(e){ 

                if (document.querySelector("#oldpassword").value == "" || document.querySelector("#newpassword").value == "" || document.querySelector("#confirmation").value == "")
                {
                    document.querySelector("#manage-password-warning").style.display = "block";
                    document.querySelector("#manage-password-button").type = "button";
                }

            });

            document.querySelector(".manage-password").addEventListener('input', function(e){ 

                if (document.querySelector("#newpassword").value != document.querySelector("#confirmation").value)
                {
                    document.querySelector("#nomatch").style.display = "block";
                    document.querySelector("#manage-password-button").type = "button";
                }
                else
                {
                    document.querySelector("#nomatch").style.display = "none";
                }
                
                if (document.querySelector("#newpassword").value == document.querySelector("#oldpassword").value)
                {
                    document.querySelector("#invalidmatch").style.display = "block";
                    document.querySelector("#manage-password-button").type = "button";
                }
                else
                {
                    document.querySelector("#invalidmatch").style.display = "none";
                }

                if (document.querySelector("#oldpassword").value == "" || document.querySelector("#newpassword").value == "" || document.querySelector("#confirmation").value == "")
                {
                    document.querySelector("#manage-password-warning").style.display = "block";
                    document.querySelector("#manage-password-button").type = "button";
                }
                else
                {
                    document.querySelector("#manage-password-warning").style.display = "none";
                }

                if (document.querySelector("#oldpassword").value == "" && document.querySelector("#newpassword").value == "" && document.querySelector("#confirmation").value == "")
                {
                    document.querySelector("#nomatch").style.display = "none";
                    document.querySelector("#invalidmatch").style.display = "none";
                    document.querySelector("#manage-password-warning").style.display = "none";
                }

                if (document.querySelector("#manage-password-warning").style.display == "none" && document.querySelector("#nomatch").style.display == "none" 
                && document.querySelector("#invalidmatch").style.display == "none" && (document.querySelector("#oldpassword").value != "" && document.querySelector("#newpassword").value != "" 
                && document.querySelector("#confirmation").value != ""))
                {
                    document.querySelector("#manage-password-button").type = "submit";
                }

            });
        }

    </script>

{% endblock %}

{% block mainstyle %}

    main-center-style

{% endblock %}