{% extends "layout.html" %}

{% block title %}
    Search & History
{% endblock %}

{% block main %}

    <h3>Search & Item History</h3>

    <form action="/search" method="get" id="searchform" autocomplete="off">
        <div id="searchbar" class="mb-3">
            <label for="search_by" class="form-label">Seach by Field Name</label>
            <div id="search-flex">
                <select id="fieldname" class="form-select" name="search_by">
                    <option disabled="" selected>Field</option>
                    <option value="Equipment">Equipment</option>
                    <option value="Model">Model</option>
                    <option value="Serial">Serial</option>
                    <option value="EE">EE</option>
                    <option value="Status">Status</option>
                    <option value="Assigned Location">Assigned Location</option>
                    <option value="Current Location">Current Location</option>
                    <option value="Off-site Location">Off-site Location</option>
                    <option value="Scanned By">Scanned By</option>
                    <option value="Received By">Received By</option>
                    <option value="Action">Action</option>
                    <option value="Date of Action">Date of Action</option>
                </select>
                <!-- Input for equipment, model and serial and ee -->
                <input autocomplete="off" autofocus="" class="form-control mx-auto" id="search" name="s" placeholder="Search Inventory" type="search">
                <!-- Selection for status -->
                <select id="statuses" class="form-select mx-auto" name="s">
                    <option disabled="" selected>Status</option>
                    {% for i in range(statuses | length)  %}
                        <option value="{{ statuses[i] }}">{{ statuses[i] }}</option>
                    {% endfor %}
                </select>
                <!-- Selection for assigned and current department -->
                <select id="dselect" class="form-select mx-auto department" name="s">
                    <option disabled="" selected>Department</option>
                    {% for dept in depts %}
                        {% if dept.building == "NA" %}
                        {% else %}
                            <option value="{{ dept.building }}" class="{{ dept.id }}">{{ dept.building }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <!-- Selection for assigned and current room -->
                <select id="rselect" class="form-select mx-auto room" name="s">
                    <option disabled="" selected>Room</option>
                    {% for room in rooms %}
                        {% if room.rooms == "NA" %}
                        {% else %}
                            <option value="{{ room.rooms }}" class="{{ room.department_id }}">{{ room.rooms }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <!-- Selection for off-site location -->
                <select id="off-site" class="form-select mx-auto room" name="s">
                    <option disabled="" selected>Off-site Location</option>
                    {% for osl in osl %}
                        {% if osl.location == "NA" %}
                        {% else %}
                            <option >{{ osl.location }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <!-- Input for scanned by -->
                <input autocomplete="off" autofocus="" class="form-control mx-auto" id="sfn" name="s" placeholder="First Name" type="text">
                <input autocomplete="off" autofocus="" class="form-control mx-auto" id="sln" name="s" placeholder="Last Name" type="text">
                <!-- Input for received by -->
                <input autocomplete="off" autofocus="" class="form-control mx-auto" id="rfn" name="s" placeholder="First Name" type="text">
                <input autocomplete="off" autofocus="" class="form-control mx-auto" id="rln" name="s" placeholder="Last Name" type="text">
                <!-- Selection for whether item was check in or out -->
                <select id="action" class="form-select mx-auto room" name="s">
                    <option disabled="" selected>Action</option>
                    {% for i in range(action | length) %}
                    <option value="{{ action[i] }}">{{ action[i] }}</option>
                    {% endfor %}
                </select>
                <!-- Input for date -->
                <input class="form-control mx-auto" id="date" name="s" type="date">
                <button type="submit" class="btn btn-primary prevent-click" id="searchbutton">
                    <span class="confirm-default-text">Search</span>
                    <div class="loading-alert">
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </form>

    {% if showtable == 0 %}
    {% else %}
        {% if showtable == 2 %}
            <h3>No match found.</h3>
        {% elif showtable == 3 %}
            <h3>Invalid Search.</h3>
        {% elif showtable == 1 %}
            <div class="tboundary">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-center">Equipment</th>
                            <th class="text-center">Model</th>
                            <th class="text-center">Serial</th>
                            <th class="text-center">EE</th>
                            <th class="text-center">Assigned Location</th>
                            <th class="text-center">Current Location</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Scanned by</th>
                            <th class="text-center">Received by</th>
                            <th class="text-center">Action</th>
                            <th class="text-center">Date of Action</th>
                            <th class="text-center">Date Added</th>
                            <th class="text-center">Added By</th>
                            <th class="text-center">Replace Date</th>
                        </tr>
                    </thead>
                    <tbody id="tables" class="click_for_info">
                        {% for i in range(fields | length) %}
                            <tr class="showrow">
                                <td class="text-center">
                                    <button type="button" name="showinfo" value="{{ fields[i]['qr_code'] }}">
                                        {{ fields[i]["equipment"] }}
                                    </button>
                                </td>
                                <td class="text-center">{{ fields[i]["model"] }}</td>
                                <td class="text-center">{{ fields[i]["serial"] }}</td>
                                <td class="text-center">{{ fields[i]["ee"] }}</td>
                                <td class="text-center">{{ fields[i]["assigned_room"] }}-{{ fields[i]["assigned_department"] }}</td>
                                {% if fields[i]["off_site_location"] == "NA" %} 
                                    <td class="text-center">{{ fields[i]["current_room"] }}-{{ fields[i]["current_department"] }}</td>
                                {% else %}
                                    <td class="text-center">{{ fields[i]["off_site_location"] }}</td>
                                {% endif %}
                                <td class="text-center">{{ fields[i]["status"] }}</td>
                                {% if fields[i]["scanned_first_name"] == "NA" %} 
                                    <td class="text-center">{{ fields[i]["scanned_first_name"] }}</td>
                                {% else %}
                                    <td class="text-center">{{ fields[i]["scanned_name"] }}</td>
                                {% endif %}
                                {% if fields[i]["received_first_name"] == "NA" %} 
                                    <td class="text-center">{{ fields[i]["received_first_name"] }}</td>
                                {% else %}
                                    <td class="text-center">{{ fields[i]["received_name"] }}</td>
                                {% endif %}
                                <td class="text-center">{{ fields[i]["action"] }}</td>
                                <td class="text-center">{{ fields[i]["date_of_action"] }}</td>
                                <td class="text-center">{{ fields[i]["date_added"] }}</td>
                                <td class="text-center">{{ fields[i]["added_name"] }}</td>
                                <td class="text-center">{{ fields[i]["repl_date"] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    
        {% endif %}
    {% endif %}
    
    <nav class="pages" aria-label="Page navigation">
    </nav>

    <!-- Modal for additional equipment information -->
    <div class="modal fade" id="moreinfo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Activity History</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="activity_history">
                        {% include "activity_history.html" %}
                    </div>
                    <div class="modal-footer" id="remove-padding">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="/static/app.js"></script>
    <script>

        var showinfo = document.getElementsByName("showinfo")
        var myModal = new bootstrap.Modal(document.getElementById("moreinfo"));

        for (let i = 0; i < showinfo.length; i++)
        {
            showinfo[i].addEventListener("click", function() {

                var data = new FormData()
                data.append("showinfo",  showinfo[i].value)
                var activity_url = "{{ url_for('activity_history') }}"
                var activity_div = document.getElementById("activity_history")
                fetch(activity_url, {
                    "method": "POST",
                    "body": data,
                }).then((response) => {
                    return response.text();
                }).then((text) => {
                    activity_div.innerHTML = text
                });
                    
                myModal.show();

            });
        }

    </script>

{% endblock %}