{% extends "layout.html" %}

{% block title %}
    Upload Inventory
{% endblock %}

{% block main %}

    <div class="uploaditem">
        <h3>Upload Inventory</h3>
        <div id="insert-action-menu">
            <div class="action-menu-wrapper">
                <button type="button" class="btn btn-primary action-menu-button">
                    Action
                </button>
                <ul class="action-menu" style="display: none;">
                    <li class="action-option">
                        <form action="/upload_inventory" method="post">
                            <button type="button" class="uploadbutton action-option-button">
                                Upload File
                            </button>
                        </form>
                        <li class="action-option"><a href="/admin_inventory" class="return-inventory-button"><button type="button" class="action-option-button">Return to Inventory</button></a></li>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="insert-inventory-table">
        <nav class="pages" aria-label="Page navigation">
        </nav>
    </div>

    <!-- Modal for uploading inventory -->
    <div class="modal fade" id="upload-inventory-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropdelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="uploadInventoryModalLabel">Upload Inventory</h1>
                <button id="close-upload-x" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <button type="button" id="upload-file-button" class="btn btn-primary" >
                            <label for="upload-file" id="upload-file-label">Upload File</label>
                        </button>
                        <span id="chosen-file">No file chosen</span>
                        <input type='file' id="upload-file" name='file' hidden>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="mod-flexbox">
                        <button id="close-upload" type="button" class="btn btn-secondary modal-footer-buttons" data-bs-dismiss="modal">Cancel</button>
                        <button id="completeupload" type="button" class="btn btn-primary modal-footer-buttons prevent-click" name="invbutton" value="upload">
                            <span class="confirm-default-text">Confirm upload</span>
                            <div class="loading-alert">
                                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                                <span role="status">Loading...</span>
                            </div>
                        </button>
                    </div>
                    <div class="mod-flexbox">
                        <p class="emptywarning">No file selected.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

    <script src="/static/app.js"></script>

{% endblock %}